@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
}

.rotate-marquee {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.marquee {
    bottom: 0;
    animation: marquee 10s linear infinite;
}

.stripes-decor {
    background-image: linear-gradient(45deg, #181818 25%, #282828 25%, #282828 50%, #181818 50%, #181818 75%, #282828 75%, #282828 100%);
    background-size: 1rem 1rem;
}

@keyframes marquee {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

@keyframes marquee2 {
    0% {
        bottom: -200%;
    }
    100% {
        bottom: 100%;
    }
}

/* libs */
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
